.footer {
  background-color: #828a92;
  padding: 20px;
  margin-top: auto;
}

.section-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

footer img {
  height: 5%;
  width: 5%;
}